*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(246, 247, 248);
}

main{
    padding-top: 2.5rem;
}

.headcontainer {
    height: 100px;
    width: 100%;
}

header{
    background-color: white;
    padding: 0.5rem 1rem;
}


.logo{
    width: 80px;
    vertical-align: middle;
}

.testohead{
    font-size: 50px;
    font-weight: bolder;
    display: inline-block;
    vertical-align: middle;
}

.minicontainer{
    padding-left: 50px;
    width: 920px;
    display: block;
    margin: 0 auto;
    background-color: white;
}

.testo{
    margin: 4px 0px;
}

.maincontainer{
    width: 920px;
    padding-left: 50px;
    display: block;
    margin: 0.5rem auto 0px;
    background-color: white;
}

.blsquare{
    padding: 5px;
    margin: 10px 0px;
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(0, 153, 255);
    color: white;
}

.grsquare{
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    color: rgb(168, 174, 179);
    border: 1px solid black;
}

.containerin{
    padding-top: 35px;
}

.titoletto{
    font-size: 25px;
    font-weight: bolder;
}

.circle{
    margin: 4px 0px;
    padding: 5px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    font-size: small;
}

.blue{
    background-color:rgb(69,171,234);
}

.violet{
    background-color: rgb(170,133,232);
}

.green{
    background-color: rgb(100,192,169);
}

.orange{
    background-color: rgb(242,158,51);
}

.purple{
    background-color: rgb(216,99,161);
}

.yellow{
    background-color: rgb(176,201,38);
}