*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(212, 221, 221, 0.2);
}

header{
    background-color: white;
}

.container {
    height: 150px;
    width: 100%;
    vertical-align: middle;
}

.logo{
    width: 120px;
    vertical-align: middle;
}

.testohead{
    font-size: 70px;
    font-weight: bolder;
    display: inline-block;
    vertical-align: middle;
}

.minicontainer{
    padding-top: 30px;
    display: block;
    margin: 50px 150px 0;
    background-color: white;
}

.maincontainer{
    padding-left: 50px;
    display: block;
    margin: 1px 150px 100px 150px;
    background-color: white;
}

.blsquare{
    padding: 5px;
    margin: 0px 0px 10px 30px;
    display: inline-block;
    border-radius: 20px;
    background-color: rgb(0, 153, 255);
    color: white;
}

.grsquare{
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    color: rgb(168, 174, 179);
    border: 1px solid black;
}

.containerin{
    padding-top: 35px;
}

.titoletto{
    font-size: 25px;
    font-weight: bolder;
}

.blcircle{
    padding: 5px;
    display: inline-block;
    border-radius: 20px;
    background-color:rgb(69,171,234);
    color: white;
}

.viocircle{
    padding: 5px;
    display: inline-block;
    border-radius: 20px;
    background-color: rgb(170,133,232);
    color: white;
}

.greencircle{
    padding: 5px;
    display: inline-block;
    border-radius: 20px;
    background-color: rgb(100,192,169);
    color: white;
}


rgb(242,158,51)